## Be careful to use "exec" command.
## If you execute a non-existing file, an additional init process can be created!

on boot
# LGE_CHANGE_S, kyungsu.mok@lge.com, TCP window for SPCS
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.lte	524288,1048576,2097152,262144,524288,1048576 
    setprop net.tcp.buffersize.ehrpd     4094,87380,262144,4096,16384,262144
# LGE_CHANGE_E, kyungsu.mok@lge.com, TCP window for SPCS

    write /proc/sys/net/ipv4/tcp_syn_retries 2

# LGE_CHANGE_S, [yeonjun.kim@lge.com][2013-06-14] set default brightness
    write /sys/class/leds/lcd-backlight/brightness 173

# Bluetooth tethering
    setprop bluetooth.pan true

# [LGE_VPN][minho85.kim] Inside Secure VPN Kernel Module install [START]
   insmod /system/lib/modules/vpnclient.ko ssh_procfs_uid=1000 ssh_procfs_gid=1000

service vpnclientpm /system/bin/vpnclientpm -O /data/data/com.ipsec.vpnclient/vpnclientpm.txt -D*Pm*=99,*Netconfig*=99 -K*=99 -u 1000
# uid dropped to system when capabilities are set
  class main
  group system net_admin net_raw
  disabled

service secstarter /system/bin/secstarter
  class main
  user system
  group system net_admin net_raw
# [LGE_VPN][minho85.kim] Inside Secure VPN Service & modules permission change [END]

on post-fs
#// LGE_UPDATE_S DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09
    start flash_recovery
#// LGE_UPDATE_E DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09

#LGE_CHANGE_S, [G2_Player][jongseol.kim@lge.com], Create a folder for the file that contains the address of the Proxy server in the Sprint model
on post-fs-data
    mkdir /persist-lg/mmoprt 0771 system lg_fota
#LGE_CHANGE_E, [G2_Player][jongseol.kim@lge.com], Create a folder for the file that contains the address of the Proxy server in the Sprint model

    # LGE_CHANGE_S, 20120729, kyungkeun.park@lge.com, ##TEST#
    chown system system /sys/class/power_supply/battery/charging_enabled
    chmod 0644 /sys/class/power_supply/battery/charging_enabled
    # LGE_CHANGE_E, 20120729, kyungkeun.park@lge.com, ##TEST#

    # 2013-07-02 byungsung.cho@lge.com  LGP_DATA_APN_AVOID_APN_DB_ERASING_ON_FACTORY_DATA_RESET_AND_HFA_SPRINT [START] 
    mkdir /persist-lg/LGE_RC 0770 system system
    chown system system /persist-lg/LGE_RC
    chmod 0770 /persist-lg/LGE_RC
    # 2013-07-02 byungsung.cho@lge.com  LGP_DATA_APN_AVOID_APN_DB_ERASING_ON_FACTORY_DATA_RESET_AND_HFA_SPRINT [END]
#LGE_CHANGE_S 2013.3.21 jaeho.cho@lge.com add change ownership and mode for diag_enable
    chown system system /sys/devices/platform/lg_diag_cmd/diag_enable
    chmod 0660 /sys/devices/platform/lg_diag_cmd/diag_enable
#LGE_CHANGE_E 2013.3.21 jaeho.cho@lge.com add change ownership and mode for diag_enable
# FIPS (for data encryption)
service ufips /system/bin/ufips
    class core
    user system
    group system

#LGE_CHANGE_S[START]2012.7.12 jaeho.cho@lge.com remove usb port in device manager
#service usbmode-manager /system/bin/usbmode-manager
service usbmode-manager /sbin/usbmode-manager
    class late_start
    user root
    disabled
    oneshot

on usb_disable
    start usbmode-manager
#LGE_CHANGE_E[END]2012.3.5 jaeho.cho@lge.com remove usb port in device manager

on fs
   # LGE_UPDATE_START, 2013/03/11, G2-FS@lge.com
   mkdir /carrier 0771 system lg_fota
   wait /dev/block/platform/msm_sdcc.1/by-name/carrier
   exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/carrier
   mount ext4 /dev/block/platform/msm_sdcc.1/by-name/carrier /carrier nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue
   # LGE_UPDATE_END

on post-fs-data
   # LGE_UPDATE_START, 2013/04/01, G2-FS@lge.com
   chown system lg_fota /carrier
   chmod 771 /carrier
   # LGE_UPDATE_END

#SLATE screen PNG capture
   mkdir /data/test 0771 root shell

on init
   # LGE_UPDATE_START, 2013/03/11, G2-FS@lge.com
   exec /sbin/setup_fs_static \
       /dev/block/platform/msm_sdcc.1/by-name/carrier \
       no_reboot
   # LGE_UPDATE_END

   # LGE_CHANGE_S, 20130507 G2-FS@lge.com, factory reset magic code
on property:sys.factory=1
    exec /system/bin/dd if=/system/etc/factory_reset_magic of=/dev/block/platform/msm_sdcc.1/by-name/pad1 bs=512 count=1
# LGE_CHANGE_E, 20120507 G2-FS@lge.com, factory reset magic code

#2013.05.30 LGE_CHANGE_S kijae.park@lge.com, SMPL count
service smpl_count /system/bin/smpl_count
    class main
	user root
	oneshot
#2013.05.30 LGE_CHANGE_E kijae.park@lge.com, SMPL count
