## Be careful to use "exec" command.
## If you execute a non-existing file, an additional init process can be created!

on boot
## 2013-08-09 sungwoo79.park@lge.com LGP_DATA_TCPIP_TCP_BUFSIZE_NATIVE [START]
# ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.edge    4093,26280,704512,4096,16384,110208
    setprop net.tcp.buffersize.gprs    4092,8760,704512,4096,8760,110208
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.lte     524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.wifi    524288,1048576,2097152,262144,524288,1048576
## 2013-08-09 sungwoo79.park@lge.com LGP_DATA_TCPIP_TCP_BUFSIZE_NATIVE [END]

# LGE_CHANGE_S, [yeonjun.kim@lge.com][2013-06-14] set default brightness
    write /sys/class/leds/lcd-backlight/brightness 173

# Bluetooth tethering
    setprop bluetooth.pan true
    setprop persist.service.bt.support.sap true
    setprop service.bt.support.busytone true

#2013-07-12 hwayoung.lim@lge.com LGP_DATA_TCPIP_NSRM [START]
    mkdir /data/connectivity 0775 system system
    mkdir /data/connectivity/nsrm 0775 system system
#2013-07-12 hwayoung.lim@lge.com LGP_DATA_TCPIP_NSRM [END]


# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  3461120
    write /proc/sys/net/core/wmem_max  3461120

# LGE_CHANGE_E, [LGE_DATA] http://dev.lge.com/wiki/datacop/

# 2013.04.26 [red.kim@lge.com] LGIMS ipsec solution [START]
service ipsecclient /system/bin/ipsecclient
    class main
    group system net_admin net_raw
    disabled

service ipsecstarter /system/bin/ipsecstarter
    class main
    user system
    group system net_admin net_raw
# 2013.04.26 [red.kim@lge.com] LGIMS ipsec solution [END]

service preloadcopy /system/bin/sh /preload_sl.sh
    class main
    user root
    group media_rw system sdcard_rw
    disabled
    oneshot

on post-fs
#// LGE_UPDATE_S DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09
    start flash_recovery
#// LGE_UPDATE_E DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09

on post-fs-data
# LGE_CHANGE_S, 20130507 G2-FS@lge.com, factory reset magic code
on property:sys.factory=1
    exec /system/bin/dd if=/system/etc/factory_reset_magic of=/dev/block/platform/msm_sdcc.1/by-name/pad1 bs=512 count=1
# LGE_CHANGE_E, 20120507 G2-FS@lge.com, factory reset magic code

on property:persist.sys.emmc_size=0
    start preloadcopy

on fs
    mkdir /cust 0771 system system
    wait /dev/block/platform/msm_sdcc.1/by-name/cust
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/cust
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cust /cust ro nosuid nodev barrier=1 noauto_da_alloc

on init
    exec /sbin/setup_fs_static \
        /dev/block/platform/msm_sdcc.1/by-name/cust \
        no_reboot

#2013.05.30 LGE_CHANGE_S kijae.park@lge.com, SMPL count
service smpl_count /system/bin/smpl_count
    class main
	user root
	oneshot
#2013.05.30 LGE_CHANGE_E kijae.park@lge.com, SMPL count
