## Be careful to use "exec" command.
## If you execute a non-existing file, an additional init process can be created!

on boot
# LGE_CHANGE_S, [LGE_DATA] http://dev.lge.com/wiki/datacop/
# Re-define TCP buffer size for TMUS network.
# ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax
    setprop net.tcp.buffersize.default 4096,87380,524288,4096,16384,110208
    setprop net.tcp.buffersize.edge    4093,26280,704512,4096,16384,110208
    setprop net.tcp.buffersize.gprs    4092,8760,704512,4096,8760,110208
    setprop net.tcp.buffersize.umts    4094,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hsdpa   4092,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hsupa   4092,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4092,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.lte     4094,87380,2560000,4096,16384,1220608
    setprop net.tcp.buffersize.wifi    4096,221184,3461120,4096,221184,3461120

# LGE_CHANGE_S, [yeonjun.kim@lge.com][2013-06-14] set default brightness
    write /sys/class/leds/lcd-backlight/brightness 173

# Bluetooth tethering
    setprop bluetooth.pan true

# MPDN
    setprop ro.support_mpdn true

#2013-07-12 hwayoung.lim@lge.com LGP_DATA_TCPIP_NSRM [START]
    mkdir /data/connectivity 0775 system system
    mkdir /data/connectivity/nsrm 0775 system system
    copy /system/etc/cne/NsrmConfiguration.xml /data/connectivity/nsrm/NsrmConfiguration.xml
    chown system system /data/connectivity/nsrm/NsrmConfiguration.xml
    chmod 775 /data/connectivity/nsrm/NsrmConfiguration.xml
#2013-07-12 hwayoung.lim@lge.com LGP_DATA_TCPIP_NSRM [END]


# [LGE_VPN][minho85.kim] Inside Secure VPN Kernel Module install [START]
   insmod /system/lib/modules/vpnclient.ko ssh_procfs_uid=1000 ssh_procfs_gid=1000

service vpnclientpm /system/bin/vpnclientpm -O /data/data/com.ipsec.vpnclient/vpnclientpm.txt -D*Pm*=99,*Netconfig*=99 -K*=99 -u 1000
# uid dropped to system when capabilities are set
  class main
  group system net_admin net_raw
  disabled

service secstarter /system/bin/secstarter
  class main
  user system
  group system net_admin net_raw
# [LGE_VPN][minho85.kim] Inside Secure VPN Service & modules permission change [END]
	
# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  3461120
    write /proc/sys/net/core/wmem_max  3461120

# LGE_CHANGE_E, [LGE_DATA] http://dev.lge.com/wiki/datacop/

# 2013.04.26 [red.kim@lge.com] LGIMS ipsec solution [START]
service ipsecclient /system/bin/ipsecclient
    class main
    group system net_admin net_raw
    disabled

service ipsecstarter /system/bin/ipsecstarter
    class main
    user system
    group system net_admin net_raw
# 2013.04.26 [red.kim@lge.com] LGIMS ipsec solution [END]

# FIPS (for data encryption)
service ufips /system/bin/ufips
    class core
    user system
    group system

on post-fs
#// LGE_UPDATE_S DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09
    start flash_recovery
#// LGE_UPDATE_E DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09

on post-fs-data
    mkdir /persist-lg/callduration 0770 system radio
    chown system radio /persist-lg/callduration
    chmod 0770 /persist-lg/callduration

# LGE_CHANGE_S, 20130507 G2-FS@lge.com, factory reset magic code
on property:sys.factory=1
    exec /system/bin/dd if=/system/etc/factory_reset_magic of=/dev/block/platform/msm_sdcc.1/by-name/pad1 bs=512 count=1
# LGE_CHANGE_E, 20120507 G2-FS@lge.com, factory reset magic code
