#!/sbin/busybox sh

# $1 - "crontab"
# $2 - value=
# Created By Dorimanx and Dairinin

BB=/sbin/busybox

if [ "a$2" != "a" ]; then
	crontab=$2;

	case "${crontab}" in
		on)
			if [ "$(pgrep -f crond | wc -l)" -eq "0" ]; then
				$BB sh /res/crontab_service/service.sh > /dev/null;
			fi;
		;;
		off)
			pkill -f "crond";
		;;
		*)
			crontab=off;
		;;
	esac;
fi;

echo ${crontab};
