#!/sbin/busybox sh

# $1 - "crontab"
# $2 - value=
# Created By Dorimanx and Dairinin

BB=/sbin/busybox

if [ "a$2" != "a" ]; then
	crontab=$2;

	case "${crontab}" in
		on)
			if [ -e /system/xbin/busybox ] || [ -e /system/bin/busybox ]; then
				# stop if was running
				pkill -f "crond";

				# starting crontab service
				$BB sh /res/crontab_service/service.sh > /dev/null;

				# setting my jobs with corrected timezone for all world.
				$BB sh /res/crontab_service/dm_job.sh "3:00" "/sbin/busybox sh /data/crontab/cron-scripts/database_optimizing.sh"
				$BB sh /res/crontab_service/dm_job.sh "4:00" "/sbin/busybox sh /data/crontab/cron-scripts/clear-file-cache.sh"
				$BB sh /res/crontab_service/dm_job.sh "4:50" "/sbin/busybox sh /data/crontab/cron-scripts/zipalign.sh"
				$BB sh /res/crontab_service/dm_job.sh "6:00" "/sbin/busybox sh /data/crontab/cron-scripts/fstrim.sh"
			fi;
		;;
		off)
			pkill -f "crond";
		;;
		*)
			crontab=off;
		;;
	esac;
fi;

echo ${crontab};
