# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.galbi.rc
import /init.g2_product.rc

on fs
    mount_all fstab.g2

    # LGE_UPDATE_START
    # Executing tune2fs to reserve some region in /data. (40MB)
    # 2013-02-05 G2-FS@lge.com
    exec /system/bin/tune2fs -u system -r 10240 /dev/block/platform/msm_sdcc.1/by-name/userdata
    # LGE_UPDATE_END

#/* 2013-06-24, juhyup.kim@lge.com LGP_DATA_APN_BACKUP [START] */
    mkdir /persist-lg/lgdata 0771 radio radio
#/* 2013-06-24, juhyup.kim@lge.com LGP_DATA_APN_BACKUP [END] */

    # LGE_UPDATE_START, 2013/02/05, G2-FS@lge.com
    # create mount point for LG Specific functions
    mkdir /sns 0755 system system
    mkdir /persist-lg 0755 system system
    mkdir /mpt 0755 system system

    wait /dev/block/platform/msm_sdcc.1/by-name/sns
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/sns
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/sns /sns nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    wait /dev/block/platform/msm_sdcc.1/by-name/drm
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/drm
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/drm /persist-lg nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    wait /dev/block/platform/msm_sdcc.1/by-name/mpt
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/mpt
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/mpt /mpt nodev nosuid barrier=1 noatime noauto_da_alloc errors=continue
    # LGE_UPDATE_END

    # LGE_CHANGE_S, NFC: create data/nfc for nv storage
    mkdir /data/nfc 770 nfc nfc
    mkdir /data/nfc/param 770 nfc nfc
    # LGE_CHANGE_E, NFC

# LGE_CHANGE_S for MLT
# mpt partition permission change after mount
on post-fs-data
    chown system system /mpt
    chmod 0775 /mpt
# LGE_CHANGE_E for MLT

# LGE_CHANGE_S for Touch Knock-Code
on post-fs
chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
# LGE_CHANGE_E for Touch Knock-Code

# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [START]
service diagd /system/bin/diagd
	class late_start
	user root
	group radio system
	disabled
	oneshot
	socket lsock_diagd stream 666

#LGE_CHANGE_S[START]2012.7.16 jaeho.cho@lge.com add usbdebug manager
service usbdebug-manager /system/bin/usbdebug-manager
    class late_start
    user root
    disabled
    oneshot

on usb_debug
    start usbdebug-manager
#LGE_CHANGE_E[END]2012.7.16 jaeho.cho@lge.com add usbdebug manager

on property:wifi_ftm.diagd_start=1
    start diagd

on property:wifi_ftm.diagd_start=0
    stop diagd

# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [END]

#LGE_CHANGE_S, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com
on property:init.svc.media=restarting
    restart qcamerasvr
on property:init.svc.servicemanager=restarting
    restart qcamerasvr
#LGE_CHANGE_E, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com

on property:persist.service.usb_ther=true
on property:persist.service.usb_ther=false

#LGE_CHANGE_S 2012.04 lg-msp@lge.com MTS TEAM
	service mtsd /system/bin/mtsd
	class late_start
	oneshot
	socket mtsd.port stream 660 system system
#LGE_CHANGE_E 2012.04 lg-msp@lge.com MTS TEAM

#touch firmware upgrade on hiddenmenu
on property:sys.lge.touchfirmware.update=1
    write /sys/devices/virtual/input/lge_touch/firmware 1
    setprop sys.lge.touchfirmware.update 2

# bugreport is triggered by holding down volume down, volume up and power
#service bugreport /system/bin/bugmailer.sh -v
#    class main
#    disabled
#    oneshot

# Begin Immersion changes(donguk.ki@lge.com)
service immvibed /system/bin/immvibed
    class main
    user shell
    group shell system
    oneshot
# End Immersion changes

# LGBACKUP SystemService Daemon
service bnrd /system/bin/bnrd
      class main
      socket bnrd stream 660 root system
      user root
      group system radio sdcard_rw
#GOTA_UA
#// LGE_UPDATE_S DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09
service recovery_write /sbin/write_recovery
    class main
    oneshot
#// LGE_UPDATE_S DMS_SYSTEM_GOTA dms-fota@lge.com 2012/11/09

#//RCT
service rctd /system/bin/rctd
    class late_start
    user root
    group root
#

on property:sys.boot_completed=1
	write sys/class/graphics/fb0/noti_boot 1
